@media (max-width: 580px) {
	#cdm_raven {
		width: 80%;
	}

	#cdm_raven #cdm_raven_next,
	#cdm_raven #cdm_raven_prev {
		width: 40px;
		height: 40px;
	}

	#cdm_raven #cdm_raven_next::before,
	#cdm_raven #cdm_raven_prev::before {
		font-size: 1em;
	}
}
