#cdm_traps {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 450px;
	aspect-ratio: 1 / 1;
	padding: 10px;
	background-image: url('../public/imgs/traps/bg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#cdm_traps *[cdm_trap] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	aspect-ratio: 1 / 1;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	display: -webkit-box;
	justify-content: center;
	align-items: center;
	position: relative;
	width: -webkit-calc(100% / 2 - 20px);
	width: calc(100% / 2 - 20px);
	margin: 10px;
	transition: -webkit-transform 0.3s ease-in-out;
	background-image: url('../public/imgs/traps/bg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#cdm_traps:not([lock]) *[cdm_trap] {
	cursor: pointer;
}

#cdm_traps[lock] {
	cursor: not-allowed;
}

#cdm_traps *[cdm_trap] img {
	pointer-events: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#cdm_traps *[cdm_trap] img[class^='logo'] {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 100%;
}

#cdm_traps *[cdm_trap] img[class='logo-glow'] {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#cdm_traps *[cdm_trap] {
	counter-increment: data-id 0;
	counter-reset: data-id var(--data-order);
}

#cdm_traps *[cdm_trap]::before,
#cdm_traps *[cdm_trap]::after {
	content: counter(data-id, upper-roman);
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 5px;
	font-size: 1rem;
	text-align: right;
}

#cdm_traps *[cdm_trap]:nth-child(2) {
	counter-increment: data-id 1;
}

#cdm_traps *[cdm_trap]:nth-child(3) {
	counter-increment: data-id -1;
}

#cdm_traps *[cdm_trap]::before {
	-webkit-text-stroke: 6px #ff0000;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

#cdm_traps *[cdm_trap]::after {
	color: white;
}

#cdm_traps *[cdm_trap][hover='true'] {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#cdm_traps *[cdm_trap][clone='true'] {
	z-index: 99;
}

#cdm_traps *[cdm_trap][clone='true']::before,
#cdm_traps *[cdm_trap][clone='true']::after {
	content: '';
}

#cdm_traps *[cdm_trap][dragged='true'] {
	opacity: 0.5;
	border: 1px dashed #000000;
}
