#cdm_orbs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	padding: 10px;
}

#cdm_orbs::before {
	-webkit-filter: brightness(0.5) contrast(2);
	filter: brightness(0.5) contrast(2);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../public/imgs/orbs/bg.png');
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}

#cdm_orbs *[cdm_orb] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: -webkit-calc(100% / 2 - 20px);
	width: calc(100% / 2 - 20px);
	min-height: 95px;
	margin: 10px;
}

#cdm_orbs *[cdm_orb]:nth-child(1),
#cdm_orbs *[cdm_orb]:nth-child(4) {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

#cdm_orbs *[cdm_orb]:nth-child(1) {
	margin-bottom: -20px;
}

#cdm_orbs *[cdm_orb]:nth-child(4) {
	margin-top: -20px;
}

#cdm_orbs *[cdm_orb] .cdm_orb_container {
	pointer-events: none;
	-webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.9);
	box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.9);
	aspect-ratio: 1 / 1;
	position: relative;
	width: 100%;
	border: 1px solid #ffffff;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

#cdm_orbs *[cdm_orb]:nth-child(1) .cdm_orb_container,
#cdm_orbs *[cdm_orb]:nth-child(4) .cdm_orb_container {
	width: 95px;
	height: 95px;
}

#cdm_orbs:not([lock]) *[cdm_orb] {
	cursor: pointer;
}

#cdm_orbs[lock] {
	cursor: not-allowed;
}

#cdm_orbs *[cdm_orb] img {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#cdm_orbs *[cdm_orb] img[class^='logo'] {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 80%;
}

#cdm_orbs *[cdm_orb] img[class='logo-glow'] {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#cdm_orbs *[cdm_orb] {
	counter-increment: data-id 0;
	counter-reset: data-id var(--data-order);
}

#cdm_orbs *[cdm_orb]::before,
#cdm_orbs *[cdm_orb]::after {
	content: counter(data-id, upper-roman);
	position: absolute;
	z-index: 1;
	top: -15px;
	right: 0;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}

#cdm_orbs *[cdm_orb]:nth-child(2) {
	counter-increment: data-id 2;
}

#cdm_orbs *[cdm_orb]:nth-child(3) {
	counter-increment: data-id -1;
}

#cdm_orbs *[cdm_orb]:nth-child(4) {
	counter-increment: data-id -1;
}

#cdm_orbs *[cdm_orb]::after {
	color: #fff;
}

#cdm_orbs *[cdm_orb]::before {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

#cdm_orbs *[cdm_orb='1']::before {
	-webkit-text-stroke: 6px blue;
}

#cdm_orbs *[cdm_orb='2']::before {
	-webkit-text-stroke: 6px red;
}

#cdm_orbs *[cdm_orb='3']::before {
	-webkit-text-stroke: 6px orange;
}

#cdm_orbs *[cdm_orb='4']::before {
	-webkit-text-stroke: 6px purple;
}

#cdm_orbs *[cdm_orb][hover='true'] {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#cdm_orbs *[cdm_orb][clone='true'] {
	z-index: 99;
}

#cdm_orbs *[cdm_orb][clone='true']::before,
#cdm_orbs *[cdm_orb][clone='true']::after {
	content: '';
}

#cdm_orbs *[cdm_orb][dragged='true'] {
	opacity: 0.5;
}

#cdm_orbs *[cdm_orb][dragged='true'] .cdm_orb_container {
	border: 1px dashed #ffffff;
}
