body {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	justify-items: center;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: transparent;
	background-color: rgba(0, 0, 0, 0.5);
}

body::before {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	content: '';
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: 105%;
	height: 105%;
	background-image: url('../public/imgs/bg.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	display: -webkit-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	min-height: -webkit-calc(100vh - 20px);
	min-height: calc(100vh - 20px);
	background-color: rgba(0, 0, 0, 0.5);
}

.cdm_buttons {
	padding: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 10px;
}

.menu-subtitle-btn {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	display: -webkit-box;
	justify-content: center;
	align-items: center;
	position: relative;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	margin: 10px 5px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 0.5rem;
	color: white;
	text-align: center;
}

.menu-subtitle-btn::before,
.menu-subtitle-btn::after {
	pointer-events: none;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	content: '▼';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
}

.menu-subtitle-btn[active]::before,
.menu-subtitle-btn[active]::after {
	content: '▲';
}

.menu-subtitle-btn::before {
	left: 10px;
}

.menu-subtitle-btn::after {
	right: 10px;
}

.menu-subtitle:not([active]) {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	display: -webkit-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	width: 100%;
	height: 0;
}

.menu-subtitle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.menu-subtitle {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menu-subtitle[active] {
	display: -webkit-box;
}

.menu-subtitle:not([active]) {
	display: none;
}
