/* Responsive rules for index */

@media (max-width: 1024px) {
	body {
		background-size: 40% 40%;
	}
}

@media (max-width: 768px) {
	body {
		background-size: 50% 50%;
	}
}

@media (max-width: 480px) {
	body {
		background-size: 80% 80%;
	}
}

@media (max-width: 320px) {
	body {
		background-size: cover;
	}
}
